$color-grey-medium:#acafb5;
$color-grey-dark:#323438;
$color-primary-black:#1D2026;

$color-primary-white:#ecececd2;


$color-blue-light:#5AA2E5;
$color-primary-blue:#0c388f;



$color-white:#fff;
$color-black:#000;

:root{
        
    --color-background:#1D2026;
    --color-scroll:#e5eeff;
    --color-heading:#e5eeff;
    --color-textShadow:#fff;
    
    --color-textShadow-2:rgba(255, 255, 255, 0.204);
    --color-speaker:#ffffff;

    
    label:after {
        background-image: url("./../../img/moon.svg");
    }
}

// html[data-theme='dark'] {
// }


html[data-theme='light'] {
    --color-background:#e5eeff;
    --color-heading:#1D2026;
    --color-scroll:#1D2026;
    --color-textShadow:#1d2026c1;
    
    --color-textShadow-2:#1d202657;
    --color-speaker:#1d2026;

        
    label:after {
        background-image: url("./../../img/sun.svg");
    }

}