$color-grey-medium:#acafb5;
$color-grey-dark:#323438;
// $color-primary-black:#1D2026;
$color-primary-black:#0F131C;

$color-primary-white:#ecececd2;


$color-blue-light:#5AA2E5;
$color-primary-blue:#0c388f;



$color-white:#fff;
$color-black:#000;

$color-primary-background:#e5eeff;
$mobile-device: 768px;
:root{
        
    --color-background:#0F131C;
    --color-scroll:#e5eeff;
    --color-heading:#ffffff;
    --color-textShadow:#fff;
    
    --color-textShadow-2:rgba(255, 255, 255, 0.204);
    --color-speaker:#ffffff;
    --color-navbg:#e5eeff;
    --color-faq:#7288a2;
    --color-tier: white;

    --pink: #e5eeff;
    --white: #323438;


    .label__dark:after {
        background-image: url("./../../img/sun.svg");
        // background-size: ;
    }
}

html[data-theme='light'] {
    --color-background:#e5eeff;
    --color-heading:#1D2026;
    --color-scroll:#1D2026;
    --color-textShadow:#1d2026c1;
    
    --color-textShadow-2:#1d202657;
    --color-speaker:#1d2026;
    --color-faq:#323438;
    --color-tier: #424344;

    --white: #e5eeff;
    --pink: #323438;
        
    .label__dark:after {
        background-image: url("./../../img/moon.svg");
    }

}

