
.statistic-section {
   padding-top: 70px;
   padding-bottom: 70px;
   background: #00c6ff;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
   background: linear-gradient(to right, #0072ff, #00c6ff); 

   .row{
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
   }
   .text-center {
      text-align: center!important;
   }
   .col-xs-12{
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
   }
   .count-title {
      font-size: 50px;
      font-weight: normal;
      margin-top: 10px;
      margin-bottom: 0;
      text-align: center;
      font-weight: bold;
      color: #fff;
   }

   .stats-text {
      font-size: 15px;
      font-weight: normal;
      margin-top: 15px;
      margin-bottom: 0;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
   }

   .stats-line-black {
      margin: 12px auto 0;
      width: 55px;
      height: 2px;
      background-color: #fff;
   }
   .stats-icon {
      font-size: 35px;
      margin: 0 auto;
      float: none;
      display: table;
      color: #fff;
   }
   .fa {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }
   .fa-2x {
      font-size: 2em;
   }
   h2{
   }
}

@media (max-width: 992px) {
   .counter {
      margin-bottom: 40px;
   }
   .col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
  }
}