.home {

    &-section{
        position: relative;
        // background-color: $color-background;
        // width: 70%;
        @include marginCenter;
        height: 100vh;
        // text-align: center;

            
    // background-image: url("./../img/hero-back-illustration.svg");

    // background-repeat: no-repeat;
    // background-size: contain;

    }
    
    &__container {
        font-family: Evolve Sans Evo;
        padding-top: 5rem;
        width: auto;
    
    
        img{
        @include marginCenter;
        height: 6rem;
        width: 6rem;
        // clip-path: polygon(50% 25%,0 100%,100% 100%);
        }
    
        &--text{
        // background-color: rgb(168, 241, 136);
        width: 70%;
        @include marginCenter;
    
        h1{
            color:var(--color-heading);
            // color: #1D2026;
            text-align: center;
            font-size: 5rem;
            font-weight: 100;
            text-transform: uppercase;
            position: relative;
            
            text-shadow: 2px 2px 100px var(--color-textShadow);
            span{
                text-shadow: 1px 1px 100px #ffffff;
            }
            
        }
    
        p{
            width: 80%;
            // background-color: rgb(247, 151, 151);
            margin-bottom: 1rem;
            margin-top: 0.5rem;
            padding: 0.3rem 0;
            text-align: right;
        }
        }
    
    }
    
    &__button {
        width: 50%;
        @include marginCenter;
        // background-color: rgb(173, 255, 222);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        // margin-top: 1.5rem;
        // text-align: center;
        &>*{
        margin: 1rem 2rem ;
        }
    }
    
    &__scroll {
        font-family: 'FontAwesome';
        font-style: normal !important;
        color: var(--color-scroll);
        height: 2.5rem;
        width: 2.5rem;
        
        i {
        // border-radius: 35%;
        // margin: 0 auto;
        @include centerAlign;
        top: 93%;
        
        animation-name: scrollBottom;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(.15,.41,.69,.94);
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        }
    }




}
    


@keyframes scrollBottom {
    0% { opacity: 0; }
    10% { transform: translate(-50%,-30%); opacity: 1; }
    100% { transform: translate(-50%,2%); opacity: 0;}
  }