.speaker {
    


    &--section {
        text-align: center;
        // background-color: $color-primary-black;
    }

    &__container {
        .teda_hai {
            display: inline-block;
            background: #0a212f;
            -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
            transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
            padding: 12px 5px;
            width: 15rem;
            margin-top:3rem;
            font-size: 1.8rem;
            font-weight: 400;
          }
          margin-bottom: 3rem;
        // background-color: rgb(124, 247, 238);
        width: 70%;

        @include marginCenter;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        &--card {
            // background-color: #9f56ec;
            width: 20rem;
            height: 8rem;
            margin: 0.7rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 1.1rem;


            h3{
                // margin: -0.3rem 0 -0.5rem 0;
                font-size: 0.8rem;
                // background-color: rgb(113, 247, 151);
            }

            h4{
                
                // margin: -0.3rem 0 0.1rem 0;
                font-size: 0.5rem;
            }
        }


    }

    &__img{
        // background-color: rgb(223, 253, 174);
        
        height: 7rem;
        width: 7rem;
        overflow: hidden;
        margin: 1rem;

        img{
            border-radius:50% ;
            height: 7rem;
            width: 100%;
            // background-color: rgb(247, 191, 119);
            overflow: hidden;
        }
    }

    &__details{
        text-align: left;
        // background-color: rgb(113, 202, 247);
        height: 75%;
        text-transform: capitalize;
        h3{
            font-size: 1.1rem;    
            // color: var(--color-speaker) !important;
            color: $color-white ;
                
            color: var(--color-heading) !important;
        }
        h4{
            // color: var(--color-speaker) !important;
            color: $color-white ;
            color: var(--color-heading) !important;
            font-size: 0.7rem;
            line-height: 1;
            margin: 0.3rem 0 0 0 ;
        }

    }


    &__links {
        display: flex;
        justify-content: flex-start;

        font-size: .4rem;
        text-align: center;
    }

    &__link {
        height: 1.5rem;
        width: 1.5rem;
        // background-color: var(--color-h  eading);
        font-size: 1.2rem;
        border-radius: 50%;
        margin: 0.3rem 0.5rem 0 0 ; 

        a{
            text-decoration: none;
            margin: 0.15rem;
            color: var(--color-link-speaker);
            transition: all 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }

    }
}