.theme {

    &__container {

        &--card {

            
            
        }
    }

    &__item{
        align-items: center;
        background-color: #fff;
        // border: 1px solid #eee;
        display: flex;
        justify-content: center;
        position: relative;
        height: 12.1rem;
        width: 12.1rem;
        z-index: 1000;

        


        &--details{
            height: 11rem;
            width: 11rem;
            @include centerAlign;
            z-index: 2000;
            background-color: rgba(39, 36, 36, 0.503);
            
            opacity: 0;
            transition: all 0.4s;

            h4{
                width: 100%;
                color: rgb(255, 255, 255);
                font-family: Evolve Sans;
                font-size: 1.5rem;
                z-index: 2000;
                text-transform: uppercase;
                @include centerAlign;
            }

            &:hover{
                opacity: 1;
            }

        }
        
        &--img{
            // opacity: 0;
            background-color: white;
            height: 12.1rem;
            width: 12.1rem;
            position: relative;
            border-radius: 2px;

                img{
                    @include centerAlign;
                object-fit: cover;
                // height: 9rem;
                // width: 9rem;
                }
        }
        &::before, &::after {
            background-image: linear-gradient(-180deg, #A1DEFF 0%, #5EA3DB 97%);
            content: '';
            height: 12rem;
            width: 12rem;
            position: absolute;
            left: 3%;
            top: 3%;
            transition: all .2s;
            transition-delay: .2s;
            transform: translateY(0px) translateX(0px);    
            z-index: -1;
            border-radius: 2px;
        }
        &::after {
            background-image: linear-gradient(0deg, #FFCF70 0%, #FFAE3D 97%);
            position: absolute;
            left: -3%;
            top: -3%;
        }

        &:hover{
            animation-name: hoverPop;
            animation-duration: .4s;
            animation-fill-direction: forward;
            
        img{  
            box-shadow: 2px 2px 4px 0px rgba(10,12,15,0.27);
            box-shadow: 0px 0px 30px 0px rgba(10,12,15,0.27);
        }
        &::before{
            animation: slick-hover-2 3s .4s linear infinite;
            transform: translateY(-20px) translateX(-20px);
        }
        &::after{
            animation: slick-hover 3s .4s linear infinite reverse;
            transform: translateY(20px) translateX(20px);
        }

        }

        &--2{
            align-items: center;
            background-color: #fff;
            // border: 1px solid #eee;
            display: flex;
            justify-content: center;
            position: relative;
            height: 12.1rem;
            width: 24.1rem;
            z-index: 1000;
            border-radius: 2px;

        &--details{
            height: 10rem;
            width: 22rem;
            background-color: rgba(39, 36, 36, 0.503);
            @include centerAlign;
            opacity: 0;
            

            h4{ 
                
                width: 100%;
                color: rgb(255, 255, 255);
                font-family: Evolve Sans;
                font-size: 1.5rem;
                z-index: 2000;
                text-transform: uppercase;
                @include centerAlign;
            }

            
            &:hover{
                opacity: 1;
            }
        }

        img{
            background-color: white;
            object-fit: cover;
            height: 12rem;
            width: 24rem;
        }
        &::before, &::after {
            background-image: linear-gradient(-180deg, #A1DEFF 0%, #5EA3DB 97%);
            content: '';
            height: 12rem;
            width: 24rem;
            position: absolute;
            transition: all .2s;
            transition-delay: .2s;
            transform: translateY(0px) translateX(0px);
            left: -3%;
            top: -3%;
            z-index: -1;
            border-radius: 2px;
        }
        &::after {
            background-image: linear-gradient(0deg, #FFCF70 0%, #FFAE3D 97%);
            left:3%;
            top: 3%;
        }
        &:hover{
            animation-name: hoverPop;
            animation-duration: .4s;
            animation-fill-direction: forward;
            img{  
                box-shadow: 2px 2px 4px 0px rgba(10,12,15,0.27);
                box-shadow: 0px 0px 30px 0px rgba(10,12,15,0.27);
            }
            &::before{
                animation: slick-hover-2 3s .4s linear infinite;
                transform: translateY(-20px) translateX(-20px);
            }
            &::after{
                animation: slick-hover 3s .4s linear infinite reverse;
                transform: translateY(20px) translateX(20px);
            }
        }

        }

    }
      
      @keyframes hoverPop {
        0%, 100% {
          transform: scale(1);
        }
        33% {
          transform: scale(1.05);
        }
        66% {
          transform: scale(.90);
        }
      }
      
      @keyframes slick-hover {
        0.00% {
          transform: translateY(20px) translateX(20px) }
        16.67% {
          transform: translateY(-13px) translateX(-9px) }
        33.33% {
          transform: translateY(4px) translateX(12px) }
        50.00% {
          transform: translateY(20px) translateX(-20px) }
        66.67% {
          transform: translateY(-3px) translateX(8px) }
        83.33% {
          transform: translateY(-15px) translateX(-11px) }
        100.00% {
          transform: translateY(20px) translateX(20px) }
      }
      
      @keyframes slick-hover-2 {
        0.00% {
          transform: translateY(-20px) translateX(-20px) }
        16.67% {
          transform: translateY(3px) translateX(-5px) }
        33.33% {
          transform: translateY(18px) translateX(-10px) }
        50.00% {
          transform: translateY(-20px) translateX(20px) }
        66.67% {
          transform: translateY(15px) translateX(-4px) }
        83.33% {
          transform: translateY(-1px) translateX(15px) }
        100.00% {
          transform: translateY(-20px) translateX(-20px) }
      }
}


.prize {

    &__container{

    }

    &__card {
        // height: 12rem;
        // width: 12rem;
        // height: 100%;
        // width: 100%;
        // background-color:#2F4858;
        margin: 1rem;
        border-radius: 2px;
        // border: 2px solid black;



        // 3D
        box-shadow: 5px 5px 100px rgb(164, 160, 160);
        transition: all 0.3s;
        // position: relative;

@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1104 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 100%;
  width: 14rem;
  height: 10rem;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1104 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.snip1104 img {
  max-width: 100%;
  position: relative;
  opacity: 0.4;
  width: 16rem;
  height: 8rem;
  @include centerAlign;
}

figure.snip1104 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.snip1104 h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  // text-transform: uppercase;
  font-weight: 400;
}

figure.snip1104 h2 span {
  font-weight: 800;
}

figure.snip1104:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
  transform-origin: center;
}

figure.snip1104 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1104.blue {
  background: #123851;
}

figure.snip1104.blue h2 {
  background: #0a212f;
}

figure.snip1104.red {
  background: #581a14;
}

figure.snip1104.red h2 {
  background: #36100c;
}

figure.snip1104.yellow {
  background: #7f5006;
}

figure.snip1104.yellow h2 {
  background: #583804;
}

figure.snip1104:hover img,
figure.snip1104.hover img {
  opacity: 1;
  -webkit-transform: translate(-50%,-50%) scale(1.02);
  transform: scale(1.02) translate(-50%,-50%);
}

figure.snip1104:hover h2,
figure.snip1104.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.snip1104:hover:before,
figure.snip1104.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}



/* Demo purposes only */
// html {
//   height: 100%;
// }
// body {
//   background-color: #212121;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-flow: wrap;
//   margin: 0;
//   height: 100%;
// }

    }
}
