.teamSponsor{

    &--section{
        width: 70%;
        @include marginCenter;
        margin-top: 5rem;
    }

    &__team,&__sponsors{
        position: relative;
        
        background-color: rgb(193, 236, 158);
        margin: 3rem;
        display: flex;
        justify-content: space-between;
        height: 10rem;

        &--text{
            flex-basis: 70%;
            // background-color: rgb(135, 147, 226);
            padding: 2rem;
            & > * {
                margin: 0;
                margin-bottom: 1.5rem;
            }
        }
        a{
            position: absolute;
            top: 50%;
            // left: 60%;
            transform: translate(-50%,-50%);
            height: 2.7rem;
            width: 2.7rem;
            background-color: #fff;
            border-radius: 50%;
            box-sizing: content-box;
            
            border: 7px solid rgba(46, 107, 209, 0.5) ;
            transition: all 0.4s;

            &:hover{
                border: 5px solid rgba(46, 107, 209, 0.5);
                box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.66)
            }
            
            
            
            i{
                @include centerAlign;
            }

        }
        &--img{
            position: relative;

            img{
            height: 10rem;
            }
        }
    }
}

