.teamSponsor{

    &--section{
        width: 70%;
        @include marginCenter;
    }

    &__team,&__sponsors{
        position: relative;
        margin: 3rem;
        display: flex;
        justify-content: space-between;
        height: 10rem;

        &--text{
            flex-basis: 70%;

            p{
                color: white;
            }
            padding: 2rem;
            & > * {
                margin: 0;
                margin-bottom: 1.5rem;
            }
        }
        a{
            position: absolute;
            top: 50%;
            // left: 60%;
            transform: translate(-50%,-50%);
            height: 2.7rem;
            width: 2.7rem;
            background-color: #fff;
            border-radius: 50%;
            box-sizing: content-box;
            
            border: 7px solid rgba(46, 107, 209, 0.5) ;
            transition: all 0.4s;

            &:hover{
                border: 5px solid rgba(46, 107, 209, 0.5);
                box-shadow: 2px 0px 15px rgba(255, 255, 255, 0.66)
            }
            
            
            
            i{
                @include centerAlign;
            }

        }
        &--img{
            position: relative;

            img{
            height: 10rem;
            }
        }
    }

    
    &__team{
        background-color: rgb(178, 74, 252);

        a{
            border: 7px solid rgba(178, 74, 252, 0.5) ;
            transition: all 0.4s;

            &:hover{
                border: 5px solid rgba(178, 74, 252, 0.5);
                box-shadow: 2px 0px 15px rgba(255, 255, 255, 0.66)
            }
        }

    }

    
    &__sponsors{
        background-color: #3E8FE0;
    }




}

