.cta-button {

    &-hero {
        // background-color:#00ACC1;
        background: rgb(39,142,165);
background: linear-gradient(45deg, rgba(39,142,165,1) 0%, rgba(40,199,250,1) 9%, rgba(40,161,193,1) 9%, rgba(40,166,201,1) 20%, rgba(40,199,250,1) 20%, rgba(40,178,219,1) 29%, rgba(40,173,211,1) 30%, rgba(39,152,179,1) 88%, rgba(40,199,250,1) 88%);
        font-size: 1.5rem;
        padding: 0.5rem 2rem;
        color: $color-white;
        outline: none;
        
        text-decoration: none;
        box-shadow: 5px 5px 1rem var(--color-textShadow-2);
        transition: all 0.3s;

        &:hover{
            transform: scale(1.03);
            box-shadow: 15px 15px 1rem var(--color-textShadow-2);
        }        
    }
}



.heading-secondary {

    font-family: Stargaze Stencil;

    font-size: 3rem;
    line-height: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-black,$color-grey-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }

    &--white{
        color: white;
    }
}

.heading-tertiary {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}


// CHEKCBOX DARK THEME///////////////////////

.darktheme{
    z-index: 10;
    box-sizing: border-box;
    position: fixed;
    top: 85%;
    left: 95%;


    &__container{

        input{
            position: relative;
        }
    }
    
    &__sun{
        color:  #FDB813;
    }
    &__moon{
        color: #F5F3CE;
    }
}



input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
    z-index: 1;
	cursor: pointer;
	text-indent: -9999px;
	width: 1.7rem;
	height: 1.7rem;
	background: grey;
	display: block;
	border-radius: 25px;
	position: relative;
}

label:after {
    
    z-index: 10;
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 1.4rem;
	height: 1.4rem;
	background: #fff;
	border-radius: 90px;
    transition: 0.5s;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

input:checked + label {
    // background: $color-primary-black;
    background-color: $color-blue-light;
}

input:checked + label:after {
	left: calc(100% - 5px);
    transform: translateX(-100%);
    // transform:scale(0.7) ;
}

label:active:after {
	width: 0.4rem;
}

.engine__img{
    position: absolute;
}