.cta-button {

    &-hero {
        background-color: $color-primary-blue;
        background-color:#007eff;
        font-size: 1.5rem;
        padding: 0.5rem 2rem;
        color: $color-white;
        outline: none;
        
        text-decoration: none;
        box-shadow: 5px 5px 1rem var(--color-textShadow-2);
        transition: all 0.3s;

        &:hover{
            transform: scale(1.03);
            box-shadow: 15px 15px 1rem var(--color-textShadow-2);
        }        
    }
}



.heading-secondary {

    font-family: Stargaze Stencil;

    font-size: 3rem;
    line-height: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-black,$color-grey-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}


// CHEKCBOX DARK THEME///////////////////////

.darktheme{
    z-index: 10;
    box-sizing: border-box;
    position: fixed;
    top: 85%;
    left: 93%;
}



input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 3.5rem;
	height: 1.8rem;
	background: grey;
	display: block;
	border-radius: 25px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 1.3rem;
	height: 1.3rem;
	background: #fff;
	border-radius: 90px;
	transition: 0.5s;
}

input:checked + label {
    // background: $color-primary-black;
    background-color: $color-blue-light;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 0.4rem;
}