.hero {
    position: absolute;
    left: 68%;
    // left: 60%;
    
}

.about {

&-section {
    position: relative;
    // height: 100vh;

    clip-path: polygon(0% 0%,100% 10%,100% 100%,0% 90%);
    transform:scaleZ(1);
    // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);


    width: 100vw;
    background-color: #e5eeff;
    margin-top: 4rem;
    margin-bottom: 1rem;

    text-align: center;

    h1{
    margin-top: 4rem;
    margin-bottom: 0;
    }

}

&__container {
    position: relative;
    width: 70%;
    @include marginCenter;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;

    &--text {
    width: 80%;
    margin:0 2rem ;
    text-align: center;
    font-family: 'Assistant';
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 4rem;
    color: #51555E;

    p{    
        margin-bottom: 4rem;
    }

    }
}

&__img{
    // flex-grow: 20%;
    height: 15rem;

    img{
    width: 10rem;
    height: 100%;
    }
}

&__background{
    position: absolute;
    top: 0%;
    left: 72%;
    height: 50rem;
    width: 50rem;
    opacity: 0.6;
    filter: grayscale(0%);

        img{
            height: 50rem;
            width: 50rem;
        }
    }
}




.theme {

    &--section{

        background-image: url("./../../img/confettin-bg-2.svg");
        background-size:cover;
        background-repeat: repeat;
        text-align: center;
    
    }

    &__container {

        width: 80%;
        @include marginCenter;
        margin-top: 3rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &--card {
            margin: 1rem;

            &--2{
                
                flex-grow: 20%;
            }
        }
    }
}


