.nav-respo{
    display: none;
}
@media only screen and (max-width: $mobile-device) {
  html {
    font-size: 75%;
    width: 100%;
  }
  body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
  }
  div[class$="__container"] {
    margin-top: 2rem;
  }
  .navigation {
    display: none;
  }
  .home {
    &__container {
      padding-top: 3rem;
      h1 {
        text-align: center;
        font-size: 3.5rem;
      }

      &--text {
        p {
          font-size: 1.3rem;
          width: 80%;
          margin: -1rem 0rem 0rem 3rem;
          padding: 0 0 0;
          text-align: right;
        }
      }
    }
    &__button {
      width: 60%;
      position: absolute;
      bottom: 20vh;
      left: 50%;
      transform: translateX(-50%);
      & > * {
        margin: 0.5rem 1rem;
      }
      .cta-button {
        &-hero {
          text-align: center;
          display: block;
          width: 80vw;
          font-size: 1.8rem;
        }
      }
    }
    &__scroll {
      i {
        width: 1rem;
        top: 95%;
      }
    }
  }
  .hero {
    // display: none; 
    width: 55vw;
    left: 60vw;
    top:-5vh;
  }
  .countDown__numbers > div{
    width: 23vw !important;
  }
  .about {
    &-section {
      clip-path: unset;
      height: auto;
      h1 {
        margin-top: 4rem;
      }
    }
    &__background {
      display: none;
    }
    &__container {
      &--text {
        width: 100%;
        margin: 0 0rem;
        text-align: center;
        font-family: Evolve Sans;
        font-size: 1.2rem;
        font-weight: unset;
        line-height: 150%;
        margin-bottom: 4rem;
      }
    }
  }
  .theme {
    &__container {
      width: 100vw;
    }
    &--card {
      margin-bottom: 2rem;
    }
  }
  
  .darktheme {
    left: 85%;
  }

  .teamSponsor {
    &--section {
      width: 100vw;
      margin-top: unset;
    }

    &__team {
      margin: 0 0 1rem 0;
      &--img {
        height: 8rem;
        width: 20vw;
      }
      &--text {
        padding: 1.2rem;
        height: 8rem;
        > * {
          margin-bottom: 0rem;
        }
        p {
          position: relative;
          line-height: 100%;
        }
      }
    }
    &__sponsors {
      margin: 2rem 0rem;
      &--img {
        height: 8rem;
        width: 20vw;
      }
      &--text {
        padding: 1.2rem;
        padding-right: 2.2rem;
        height: 8rem;
        > * {
          margin-bottom: 0rem;
        }
        p {
          position: relative;
          line-height: 100%;
        }
      }
    }
  }
  .heading-tertiary {
    font-size: 2.5rem;
  }
  .speaker {
    // &--section{
    //     .heading-secondary{
    //         // font-size: 3rem;
    //     }
    // }
    &__container {
      margin-top: 0 !important;
      &--card {
        width: 90%;
      }
    }
    &__details {
      h3 {
        font-size: 1.5rem;
      }
      h4 {
        font-size: 1.1rem;
      }
    }
  }
  .accordion {
    .accordion-item {
      width: 80vw;
      p {
        margin: unset;
        font-size: 1.1rem;
      }
    }
    .accordion-content > p{
      line-height: 1.4;
      padding: 1rem 0rem;
    }
  }
  .engine__img {
    svg {
      height: 100px;
      width: 100px;
      transform: translateY(3rem);
    }
  }
  .faq {
    &__container {
      padding: unset;
    }
  }

  /////////////TEAMS//////////////////
  .team,.sponsor{
    &--section{
      font-size: 75%;
      width: 100vw;
    }
    &__container{
      margin-top: unset !important;
    }
    &__heading{
      .heading-secondary{
        text-align: center;
        line-height: 120%;
        // width: 100vw;
      }
    }
    &__card{
      &-details{
        width: 15rem;
        h4{
          font-size: 1.46rem;
        }
        h6{
          font-size: 1.2rem;        
        }
      }
      &--links{
        a{
          font-size: 2.26rem;
        }
      }
    }
  }
  .sponsor{
    &__card{
      height: 7rem;
      width: 90vw;
      background-color: white;
      border-radius: 5px;
      img{
          width: 70vw;
      }
    }
  }
}